.bg-header {
    background-color: rgb(75, 160, 202);
    width: 25px;
    padding: 25px 0px;
}

.bg-navbar-custom {
    background-color: lightblue;
    border-bottom: solid lightseagreen;
}

.bg-navbar-custom .nav-link {
    color: rgb(2, 37, 54);
    font-weight: bold;
}

.bg-navbar-custom .nav-link:hover {
    color: rgb(124, 128, 131);
}


.inf {
    margin: 0px auto;
    display: flex;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 52px;
    padding: 15px;
    text-decoration: underline;
    background-color: lightblue;
    border: 5px solid lightblue;
    border-radius: 15px 0 15px 0;
    box-sizing: border-box;
    text-shadow: 0px 0px 4px rgb(96, 231, 255);
}


.nom {
    margin: 15px;
    padding: 15px;

}

.texto {
    padding: 5px 15px;
    margin: 20px;
    min-width: 250px;
}

/*.container div {
    background-color: aquamarine;
    cursor: pointer;
    border: #fff solid 3px;
    width: 200px;
    height: 200px;
    display: inline-block;

}*/