.titu-container {
background-color: lightblue;
height: 1%;
padding: 10px;
opacity: 1;
}



.tit1 {
    background-color: lightblue;
display: flex;
    color: black;
    border: 5px solid lightblue;
    border-radius: 15px 0 15px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 52px;
   /* margin-left: 500px;
    margin-top: 20px;*/
    text-decoration: underline;
    width: 250px;
    height: auto;
    margin: 50px auto;
    box-sizing: border-box; 
  
    
   

}

.inf {
    margin: auto;
}
/*
.hit a:hover {
    background-color:salmon;
}

.teor a:hover {
    background-color:salmon;
}
*/

.nav-item a:hover {
    background-color: burlywood;
}