.bg-header {
    background-color: rgb(75, 160, 202);
    width: 25px;
    padding: 25px 0px;   
     margin-top: 0 auto;
}

.imagen {
    /*position: relative;*/ 
    /*left: 60px;*/
    top: 98px;
    margin-right: 15px;
}

.bg-navbar-custom {
    background-color: lightblue;
    border-bottom: solid lightseagreen;
}

.bg-navbar-custom .nav-link {
    color: rgb(2, 37, 54);
    font-weight: bold;
}

.bg-navbar-custom .nav-link:hover {
    color: rgb(124, 128, 131);
}


.inf { 
   
    margin-top: 0px auto;
    display: flex;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 52px;
    padding: 15px;
    text-decoration: underline;
    background-color: lightblue;
    border: 5px solid lightblue;
    border-radius: 15px 0 15px 0;
    box-sizing: border-box;
    text-shadow: 0px 0px 4px rgb(96, 231, 255);
}


.nom {
    margin: 15px;
    padding: 15px;

}

.texto {
    padding: 5px 15px;
    margin: 20px;
    min-width: 250px;
}

/*.container div {
    background-color: aquamarine;
    cursor: pointer;
    border: #fff solid 3px;
    width: 200px;
    height: 200px;
    display: inline-block;

}*/

.fondo {
    display: inline-block;
    text-align: center;
}

.centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: rgb(226, 214, 147);
    padding: 20px 30px;

}

.container div {
    background-color: aquamarine;
    cursor: pointer;
    border: #FFF solid 7px;
    width: 150px;
    height: 150px;
    display: inline-block;
    padding: 7px;
    margin-top: 50px;
   /* display: flex;*/
}


/* .container div:hover {
    width: 100px;
    height: 100px;
    z-index: 30 !important;
}*/

.carousel-item {
   width:225px ;
  height: auto;

}
